.container-1{
    display: inline-flex;
    gap: 20px;
    margin-bottom: 20px;
}

.box{
    height: 70px;
    width: 70px;
    background-color: grey;
    
}

.color-box-text{
    background-color: lightpink;
    
}